<!DOCTYPE html>
<html>
    <head>
        <title>Stackoverflow tag generator</title>
        <style>
            body {text-align: center;}
            h1 {color: green;}
        </style>
    </head>

    <body>
        <h1>Stackoverflow tag generator</h1>
        <form name="form" method="POST" style="text-align: center;">
            <br>
            <textarea id="submit_area" name="question" rows="10" cols="200" title="Question">Enter your question.</textarea>
            <!--Question: <input type="text" name="question" size="100", placeholder="Enter your question" required/>-->
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <!--<p style="text-align: center;">{{ output[0] }}</p>-->
       <form name="form" method="POST" style="text-align: center;">
            <br>
            <textarea id="submit_area" name="question" rows="1" cols="50" title="Question">{{ output[0] }}</textarea>
            <!--Question: <input type="text" name="question" size="100", placeholder="Enter your question" required/>-->
            <br><br>
        </form>
    </body>
</html>