<!DOCTYPE html>
<html>
<style>
@import "http://fonts.googleapis.com/css?family=Ubuntu";
body{
margin:0;
padding:0;
font-family:'Ubuntu',sans-serif
}
#first{
width:400px;
height:610px;
box-shadow:0 0 15px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
float:left;
padding:10px 50px 0;
margin:2% 30%;
border-radius:5px
}
#result {
    margin: auto;
    width: 80%;
    border: 2px solid #ccc;
}
</style>
    <head>
        <title>Stackoverflow tag generator</title>
    </head>

    <body>
	<div id = "first">
        <form name="form", method="POST", style="text-align: center;">
			<h2 align="center">Stackoverflow tag generator</h2>
			<h4>Please enter your question</h4>
            <br>
			<textarea name="question" cols="40" rows="5" placeholder="Enter your question" required/></textarea>
            <!--Question: <input type="text" name="question" cols="100",rows="5" placeholder="Enter your question" required/-->
            <br><br>
            <button value="Submit">Generate tags</button>
        </form>
		<div id = "result">
            {% if output %}
                'Tags:'<h3>{{output['Tags']}}</h3>
                'Probs:'<h3>{{output['Probabilities']}}</h3>
            {% endif%}
		</div>
	</div>



    </body>
</html>